/* so the font-family is helvetica and fall-back is sans-serif for all these elements*/
h1, 
h2, 
h3, 
p {
  font-family: "Helvetica", sans-serif;
}
/* for h1, there is background image aligned in center, font-size 100px and khaki color*/
h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;
}
/* class item and  h2, font-size is 32px and color is white*/
.item h2 {
  font-size: 32px;
  color: white;
}
/*for price, the font-weight is bold with blue color*/
.price {
  font-weight: bold;
  color: blue;
}
/*for id brush bg is mediumspringgreen*/
#brush {
  background-color: mediumspringgreen;
}
/*for id frame  bg is lightcoral*/
#frame {
  background-color: lightcoral;
}
/*for id paint  bg is skyblue*/
#paint {
  background-color: skyblue;
}